<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.jfknapp.parkcompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
             >
            <intent-filter>
                <category android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.MainMenuActivity" />
        <activity android:name=".tasks.TaskListActivity" />
        <activity android:name=".contacts.ContactListActivity" />
        <activity android:name=".login.LoginSettingsActivity" />
        <activity android:name=".login.CreateUserActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".contacts.ContactEditActivity" />
        <activity android:name=".contacts.ContactDetailsActivity" />
        <activity android:name=".tasks.TaskDetailsActivity" />
        <activity android:name=".tasks.TaskEditActivity" />
    </application>

</manifest>
